.microclimate-conf {
	//border: 1px solid black;
	padding: 5px;
}
input[type=number]{
	font-size: 16px;
	font-family: "Tahoma";
	color: rgb( 65, 64, 66 );
	width: 100px;
	padding: 3px;
	font-weight: bold;
}

#microClimateBoxBlock1 img:hover {
	cursor: pointer;
	border: 1px solid grey;
}